*{  
    text-align: center;
    padding: 0;
    margin: 0;
    /* font-family: 'Gamja Flower', cursive; */
    /* background-color: #F7EEE3; */
}

a{
    color: #000;
}

header{
    height: 100px;
    width: 80%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 상단 메뉴 */
.icon_ul,
.menu{
  list-style: none;
  display: flex;
}

.menu>li{
    margin:8px 12px;
    font-size: 25px;
}

/* 우측 상단 아이콘 */
.icon li{
    margin:8px 12px;
    font-size: 30px;
}

/* 검색창 */
.search{
    height: 40px;
    width: 25%;
    margin: 0 auto;
    display: flex;
}

.search.textbox{
    height: 30px;
    width: 80%;
    text-align:start;
    font-size: 25px;
}

.search.button{
    height: 35px;
    width: 50px;
    padding-left: 10px;
    line-height: 35px;
    font-size: 16px;
}

/* 홈 메인 사진 */
article{
    width: 60%;
    margin: 50px auto;
}


.recommend{
    height: 500px; 
    margin: 0 auto;
    font-size: 35px;
    background-color: #ffc8b4;
}

/* 공지사항 */
section{
    height: 150px;
    width: 60%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

.announceIcon{
    font-size: 80px;
}

.announceText{
    font-size: 25px;
}

/* 랭킹 게시글 */
.post{
    width: 80%;
    margin: 50px auto;
    display:flex;
    justify-content: space-around;
    font-size: 20px;
}

.content{
    display: flex;
    flex-direction: column;
}

.post>.content>.name{
    font-size: 25px;
}
.mainbox{
    width: 350px;
}

.rank{
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #e5d0b5;
}

.rank>li{
    padding: 5px;
    margin: 10px;
    display: flex;
    border-bottom: 1px solid black;
}

.post .picture{
    height: 75px;
    width: 75px;
    margin-left: 5px;
    background-color: #bb871e;
}

.rightText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

/* 하단 */
footer>ul{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}