*{  
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    /* font-family: 'Gamja Flower', cursive; */
    /* background-color: #F7EEE3; */
}

a{
    color: #000;
}
header{
    height: 100px;
    width: 80%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 상단 메뉴 */
.icon_ul,
.menu{
  list-style: none;
  display: flex;
}

.menu>li{
    margin:8px 12px;
    font-size: 25px;
}

/* 우측 상단 아이콘 */
.icon li{
    margin:8px 12px;
    font-size: 30px;
}

/* 검색창 */
.search{
    height: 40px;
    width: 25%;
    margin: 0 auto;
    display: flex;
}

.search.textbox{
    height: 30px;
    width: 80%;
    text-align:start;
    font-size: 25px;
}

.search.button{
    height: 35px;
    width: 50px;
<<<<<<< HEAD
=======
    line-height: 35px;
>>>>>>> 17c5c0d2e19991803bb3ffc48a8fe144ffc64099
    padding-left: 10px;
    line-height: 35px;
    font-size: 16px;
}

/* 회원가입 화면 */
main{
    width: 70%;
    margin: 50px auto;   
}

/* 회원가입 텍스트 */
.member_join{
    padding: 20px 0;
    letter-spacing: 10px;
    font-size: xx-large;
    
}

/* 필수 입력사항 텍스트 */
.essential{
    height: 30px;
    margin-bottom: 20px;
    padding-left: 10px;
    line-height: 30px;
    background-color: #e5d0b5;
}

/* 필수,선택 입력사항 공통 */
.content{
    display: flex;
}

.item{
    height: 30px;
    width: 15%;
    padding: 10px 10px;
    border: none;
    border-bottom: 1px solid #dedede;
    line-height: 30px;
    background-color: #f0f0f0;
}

.item2{
    height: 30px;
    padding: 10px 10px;
}

/* 필수 입력사항 전체 */
.member_e{
    border: none;
    border-bottom: 1px solid #dedede;
}

/* 선택 입력사항 텍스트 */
.unessential{
    height: 30px;
    margin: 20px 0;
    padding-left: 10px;
    line-height: 30px;
    background-color: #e5d0b5;
}

/* 선택 입력사항 전체 */
.member_ue{
    border: none;
    border-bottom: 1px solid #dedede;
}

/* 가입버튼 */
.join_cafe{
    margin: 100px 0;
    display: flex;
    justify-content: center;
}

.cafe{
    height: 50px;
    width: 100px;
    border: none;
    color: #f0f0f0;
    font-size: 20px;
    background-color: #a7cebc;
}


footer{
    border: 1px solid darkgreen;
}

footer>ul{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}




