
*{  
    padding: 0;
    margin: 0;
    /* font-family: 'Gamja Flower', cursive; */
    /* background-color: #F7EEE3; */
}

a{
    color: #000;
}

header{
    height: 100px;
    width: 80%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 상단 메뉴 */
.icon_ul,
.menu{
  list-style: none;
  display: flex;
}

.menu>li{
  margin:8px 12px;
  font-size: 25px;
}

/* 우측 상단 아이콘 */
.icon li{
  margin:8px 12px;
  font-size: 30px;
}

/* 검색창 */
.search{
    height: 40px;
    width: 25%;
    margin: 0 auto;
    display: flex;
}

.search.textbox{
    height: 30px;
    width: 80%;
    text-align:start;
    font-size: 25px;
}

.search.button{
    height: 35px;
    width: 50px;
    padding-left: 10px;
    line-height: 35px;
    font-size: 16px;
}
  
/* *{outline: 1px red solid;} */
/* body {
  background-color: whitesmoke;
} */

/* m5 메인 */
main {
    height: 1400px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: flex;
}

/* 왼쪽 배너 */
#leftBanner_wrapper {
    height: 650px;
    width: 160px;
    margin: 0 10px 0 10px;
    border: double 1px gray;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#leftBanner_title {
    padding: 5px 0 10px 0;
    border-bottom: solid 1px black;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
}

.leftBanner_ul {
    height: 60%;
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    list-style: none;
}

.leftBanner_li {
    padding: 10px 0;
    text-align: center;
    font-size: 20pt;
    /* border-bottom: dashed 1px black; */
}

/* 배너 메뉴 미우스 호버링 */
.leftLi_a {
    color: black;
    text-decoration: none;
}

/* .leftLi_a:hover {
    color: white;
    background-color: cornflowerblue;
    border-radius: 5px;
} */

/* 클릭하면 메뉴 색깔이 바뀌고 해당 페이지로 넘어가며, 색이 바뀐 상태를 유지한다. 구체적인 형태는 미정 */
#onclick_ex{
    border-radius: 5px;
    color: white;
    background-color: cornflowerblue;
}


/* 게시판. */
.content_page {
    width: inherit;
    display: flex;
    flex-direction: column;
}

#page_status{
    height: 50px;
    margin: 0px 10px 0 10px;
    padding: 5px;
    /* border: 1px black solid; */
    display: flex;
    justify-content: space-between;
}

#page_name{
    margin-right: auto;
    margin-left: 5px;
    font-size: 30pt;
    font-weight: bold;
}

.order_wrapper{
    width: 250px;
    margin-top: 12px;
    margin-left: auto;
}

#post_order{
    width: 85px;
    margin: auto;
}

#write_btn{
    height: 34px;
    width: 104px;
    margin: auto;
    margin-left: 10px;

}

.content {
    height: 90%;
    margin: 0 10px 0 10px;
    top: 9px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
}

.item {
    height: 280px;
    width: 370px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

/* post = (img + caption) */
.post {
    height: 100%;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.img {
    height: 65%;
    border: 1px black solid;
}

/* cation = (postTitle + info + memId + uploadTime + bookmark) */
.caption {
    height: 30%;
    margin-top: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.postTitle {
    margin: 0 0 5px 2px;
    font-size: 10pt;
    font-weight: bold;
}

.info {
    margin: 10px 0 5px 2px;
    display: flex;
    justify-content: space-between;
    color: gray;
    font-size: 8pt;
}

.memId {
    width: 200px;
}

.uploadTime {
    width: 70px;
    text-align: center;
}

.bookmark {
    width: 70px;
    margin: 0;
    border: 1px;
    border-radius: 3px;
    align-self: flex-end;
    color: white;
    font-size: 10pt;
    background-color: skyblue;
}

/* 게시판 하단 */
#page_navi {
    width: 100%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

/* 페이지 번호 */
#dom_page {
    height: 50%;
    margin: auto;
    margin-bottom: 3px;
    box-sizing: border-box;
    display: flex;
}

.pageNo {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    color: gray;
    text-align: center;
}

/* 페이지 검색 */
#page_search_bar {
    width: 100%;
    text-align: center;
}

#scan_page {
    width: 65px;
    margin-right: 5px;
}

#page_search_btn {
    margin-left: 5px;
    color: white;
    background-color: black;
}

/* 게시글 검색 */
#post_search_bar {
    height: 22px;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: right;
}

#scan_post {
    height: 20px;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

#post_search_btn {
    margin-left: 5px;
    color: white;
    background-color: black;
}

/* 최하단 */
footer{
    border-top: 1px solid darkgreen;
}

footer>ul{
    /* background-color: darkgrey; */
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}