*{  
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    /* font-family: 'Gamja Flower', cursive; */
    /* background-color: #F7EEE3; */
    background-color: #fcf8f4;
    font-family: 'Jua', sans-serif;
}
a{
    color: #000;
    text-decoration: none;
}

header{
    height: 100px;
    width: 80%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 상단 메뉴 */
.icon_ul,
.menu{
  list-style: none;
  display: flex;
}

.menu>li{
    margin:8px 12px;
    font-size: 25px;
}

/* 우측 상단 아이콘 */
.icon li{
    margin:8px 12px;
    font-size: 30px;
}

/* main */
main {
    height: 1400px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: flex;
}

/* 왼쪽 카테고리 */
#leftCategory {
    height: 400px;
    width: 13%;
    flex-direction: column;
    text-align: center;
    background-color: white;
}

#leftCategory_title {
    height: 10%;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 18pt;
    font-weight: bold;
    line-height: 40px;
    background-color: #FBD786;
}

.leftCategory_ul {
    height: 90%;
    width: 100%;
    list-style: none;
}

.leftCategory_li {
    height: 50px;
    margin: 30px 0;
    border-bottom: solid 1px black;
    font-size: 18pt;
    line-height: 20px;
}

#bread{
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
}

/* 게시물 */
.main_content{
    flex-direction: column;
    width: 87%;
    margin-left: 100px;
}

.contentWrap{
    border: 1px solid black;
    
}

/* 게시물 상단 공통*/
.content_top{
    margin: 30px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content_top .title{
    font-size: 30px;
}
.content_top .side{
    padding-top: 10px;
    font-size: 25px;
}

/* 등급, 닉네임, 좋아요 */
.content_top .side_top{
    margin-top: 20px 0;
}

.content_top .side_top>ul{
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
}

.content_top .side_top>ul>li{
    margin: 0 5px;
}

/* 구독, 관심리스트 */
.content_top .side_med{
    display: none;
}

/* 날짜, 신고 */
.content_top .side_bottom{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    font-size: 15px;
    margin-top: 30px;
}

.content_top .side_bottom .content_report{
    width: 40px;
    height: 25px;
    color: #F37335;
}

.content_top .side_bottom .upload_date{
    line-height: 25px;
}

/* 게시물 내용 */
.content_main{
    margin: 0 20px;
    font-size: 20px;
}

/* 댓글 공통 */
.repliedWrap{
    margin-top: 50px;
    border: 1px solid black; 
}

.replied_top{
    margin: 10px 20px;
    border-bottom: 1px solid gray;
    font-size: 30px;
}

/* 댓글 내용 */
.replied_med_1{
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    font-size: 22px;
}

.replied_med_1 .replied_num{
    width: 5%;
}

.replied_med_1 .replied_content{
    width: 55%;
}

.replied_med_1 .replied_nickname{
    width: 20%;
}

.replied_med_1 .replied_date{
    width: 15%;
}

.replied_med_1 .reply_report{
    width: 5%;
    color: #F37335;
}


.replied_bottom{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    margin: 30px 20px;
}

.replied_bottom .submit{
    width: 50px;
    height: 30px;
    margin-top: 10px;
}

