*{  
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    /* font-family: 'Gamja Flower', cursive; */
    /* background-color: #F7EEE3; */
}

a{
    color: #000;
    text-decoration: none;
}
header{
    height: 100px;
    width: 80%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 상단 메뉴 */
.icon_ul,
.menu{
  list-style: none;
  display: flex;
}

.menu>li{
    margin:8px 12px;
    font-size: 25px;
}

/* 우측 상단 아이콘 */
.icon li{
    margin:8px 12px;
    font-size: 30px;
}

/* 검색창 */
.search{
    height: 40px;
    width: 25%;
    margin: 0 auto;
    display: flex;
}

.search.textbox{
    height: 30px;
    width: 80%;
    text-align:start;
    font-size: 25px;
}

.search.button{
    height: 35px;
    width: 50px;
    padding-left: 10px;
    line-height: 35px;
    font-size: 16px;
}

/* main */
main {
    height: 1400px;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: flex;
}

/* 왼쪽 카테고리 */
#leftCategory {
    height: 400px;
    width: 13%;
    flex-direction: column;
    text-align: center;
    background-color: white;
}

#leftCategory_title {
    height: 10%;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 18pt;
    font-weight: bold;
    line-height: 40px;
    background-color: #FBD786;
}

.leftCategory_ul {
    height: 90%;
    width: 100%;
    list-style: none;
}

.leftCategory_li {
    height: 50px;
    margin: 30px 0;
    border-bottom: solid 1px black;
    font-size: 18pt;
    line-height: 20px;
}

#likeList{
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
}

/* 본문 전체 */
.liLiWrap {
    width: 70%;
    margin-left: 100px;
}

/* 관심리스트 글씨 */
.liLiWrap .liLiMenu{
    margin: 10px 10px;
    padding-left: 20px;
    border-left: 4px solid #F37335;
    font-size: 35px;
}

/* 게시물 부문 */
.liLiWrap .liLiItems{
    margin-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    height: 370px;
    width: 300px;
    margin-top: 50px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.post {
    height: 100%;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}

.img {
    height: 65%;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;
}

.snowman{
    height: 100%;
    width: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.caption {
    height: 10%;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 17px
}

.postTitle {
    font-weight: bold;
}

.bookmark {
    margin-right: 10px;
    text-align: center;
    color: red;
}

.info {
    display: flex;
    justify-content: space-evenly;
    color: gray;
    font-size: 8pt;
}

.memId {
    width: 200px;
}

.uploadTime {
    width: 70px;
  
    text-align: center;
}

/* pageNav 부분 */
.liLiWrap .pageNav{
    height: 50px;
    width: 100%;
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.liLiWrap .pageNav .pageNum{
    margin: 30px;
    padding: 0 15px;
    list-style: none;
    border: 1px solid black;
}

/* 하단 */
footer{
    border-top: 1px solid darkgreen;
}

footer>ul{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
